[submodule "sglang_for_verl"]
	path = third_party/sglang_for_verl
	url = https://github.com/sgl-project/sglang.git
	branch = main
[submodule "sglang_latest"]
	path = third_party/sglang_latest
	url = https://github.com/sgl-project/sglang.git
	branch = main
[submodule "Megatron-LM_for_verl"]
	path = third_party/Megatron-LM_for_verl
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "pai-megatron-patch"]
	path = third_party/pai-megatron-patch
	url = https://github.com/yumc-afk/Pai-Megatron-Patch.git
	branch = main
