timm<1.0.0 
imageio
accelerate>=0.25.0
draccus==0.8.0
einops
# flash_attn==2.5.5      # Here for documentation -- install *AFTER* editable install (follow README)
huggingface_hub
json-numpy
jsonlines
matplotlib
peft==0.11.1
protobuf==3.20
rich
sentencepiece==0.1.99
wandb==0.21
dlimp @ git+https://github.com/moojink/dlimp_openvla
diffusers==0.30.3
imageio
uvicorn
fastapi
json-numpy