# defaults specify the default config from each component
defaults:

  # dp distillation config, inheriting from trainer/config/distillation/distillation.yaml
  - distillation
  
  # load the reference default config, then apply the fields in the current yaml
  - _self_

# Target class for this configuration
_target_: verl.workers.config.DistillationConfig